# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.local

# Node
node_modules/

# Vite
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads
uploads/